<ng-container *ngIf="course">
    <div class="course-card">
        <h1 class="course-title"> {{cardIndex + ' ' + course.description }}</h1>

        <ng-container *ngIf="isImageVisible(); else noImage">
            <img class="course-media" 
            [src]="course.iconUrl" alt="img">
        </ng-container>

        <ng-template #noImage>
            <p style="background: lightgray;padding: 96px 12px;margin-bottom: 8px;">No image is available</p>
        </ng-template>

        <p class="course-Description">{{ course.longDescription }}</p>

        <ng-container>
            <div class="course-category" [ngSwitch]="course.category">
                <ng-container *ngSwitchCase="'BEGINNER'">
                    <div class="category">BEGINNER</div>
                </ng-container>

                <ng-container *ngSwitchCase="'ADVANCED'">
                    <div class="category">ADVANCED</div>
                </ng-container>

                <ng-container *ngSwitchDefault>
                    <div class="category">All Levels</div>
                </ng-container>
            </div>
        </ng-container>

        <button type="button" (click)="onViewed()" class="course-view">View Course</button>

    </div>
</ng-container>