<div class="course-card" *ngIf="course">
        <h1 class="course-title"> {{cardIndex + ' ' + course.description }}</h1>

        <img class="course-media" *ngIf="isImageVisible(); else noImage"
         [src]="course.iconUrl" alt="img">

         <ng-template #noImage>
            <p style="background: lightgray;padding: 96px 12px;margin-bottom: 8px;">No image is available</p>
         </ng-template>



    <p class="course-Description">{{ course.longDescription }}</p>

    <div class="course-category" [ngSwitch]="course.category">
            <div class="category" *ngSwitchCase="'BEGINNER'">BEGINNER</div>
            <div class="category" *ngSwitchCase="'ADVANCED'">ADVANCED</div>
            <div class="category" *ngSwitchDefault>All Levels</div>
    </div>

    <button type="button" (click)="onViewed()" class="course-view">View Course</button>

</div>