<div class="course-card" >
        
        <h1 class="course-title"> {{cardIndex + ' ' + course?.description }}</h1>
        <!-- <h1 class="course-title">course-title</h1> -->

        <!-- <img class="course-media" src="https://digital-speed.vercel.app/assets/card_02.png" alt="img"> -->
        <img class="course-media" [src]="course?.iconUrl" alt="img">

    <!-- <p class="course-Description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, temporibus!
    </p> -->

    <p class="course-Description">{{ course?.longDescription }}</p>

    <button type="button" (click)="onViewed()" class="course-view">View Course</button>

</div>