


.course-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 430px;
    padding: 2rem;
    text-align: center;
    text-transform: capitalize;
}


.course-card.beginner {
    background-color: lightgreen;
}

.course-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
}


.course-media {
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;
}

.course-Description {
    font-size: 1rem;
    line-height: 1.3;
    font-weight: 500;
    margin-bottom: 24px;
}

.course-view {
    padding: 6px 32px;
    border: 1px solid navy;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}


.course-category {
    margin-block: 10px 15px;
}

.course-category .category {
    border: 1px solid green;
    background: rgb(170, 255, 170);
    border-radius: 4px;
    padding: 3px 12px;
    display: inline;
}

.is-first {
    background: green;
}

.is-last {
    background: rgb(0, 53, 128);
}


