
.card {
    text-align: center;
}


input {
    display: block;
    margin: auto;
    width: 400px;
    font-size: 20px;
}




.top-menu {
    background: #1976d2;
    padding: 2px 15px;
    margin-bottom: 48px;
}

.logo {
  max-height: 55px;
}



.row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 24px;
}


.is-first {
    border: 2px solid green !important;
}

.is-last {
    border: 2px solid blue !important;
}

.is-even {
    border: 2px solid rgb(0, 255, 170);
}

.is-odd {
    border: 2px solid rgb(255, 128, 0);
}