<div class="top-menu">
    <div class="container">
        <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
    </div>
</div>

<div class="container row">
    

        <app-course-card
        (CardSelected)="onCardSelected($event)"
        [course]="courses[0]"
         ></app-course-card>

         <app-course-card #card1
         (CardSelected)="onCardSelected($event)"
         [course]="courses[1]"
          ></app-course-card>
</div>
