<div class="top-menu">
    <div class="container">
        <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
    </div>
</div>

<div class="container row" #container>
     <div style="text-align: center;display: block;width: 100%;margin-bottom: 24px;">
        <h1 #title style="color: green;">Initial Title</h1>
      </div>

        <!-- <app-course-card
        (CardSelected)="onCardSelected($event)"
        [course]="courses[0]"
         ></app-course-card> -->
</div>
