<div class="top-menu">
    <div class="container">
        <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
    </div>
</div>

<div class="container row">

    @for(course of courses; track course.id; let index = $index;let count= $count;
    let first = $first; let last = $last;
    let even = $even; let odd = $odd; ) {

        <!-- <span style="display: block;">{{count}}</span> -->
        <app-course-card 
        (CardSelected)="onCardSelected($event)"
        [index]="index"
        [course]="course"
        [class.is-first]="first"
        [class.is-last]="last"
        [class.is-even]="even"
        [class.is-odd]="odd"

         ></app-course-card>
    }
</div>
